@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800;900&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

.nm-Button-like {
    color: #666;
    opacity: 0.7; /* Couleur neutre par défaut */
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    cursor: pointer;
    transition: color 0.3s ease;
}



.nm-Button-like.filled {
    color: #ff6b6b;
    opacity: 1; /* Couleur rouge lorsqu'il est liké */
}

.nm-Button-like.filled:hover {
    color: #ff4c4c; /* Couleur rouge plus foncée en hover lorsqu'il est liké */
}

  
    /* toast*/

    /* Style pour le conteneur des toasts */
.followMessages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Animation d'entrée pour chaque toast */
  .toast {
    opacity: 0;
    transform: translateX(100%);
    animation: slideInRight 0.3s ease-in-out forwards;
  }
  
  /* Animation de sortie pour chaque toast */
  .toast.hide {
    animation: slideOutRight 0.3s ease-in-out forwards;
  }
  
  /* Définition des keyframes pour l'animation d'entrée */
  @keyframes slideInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Définition des keyframes pour l'animation de sortie */
  @keyframes slideOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
/* footer */

.card {
    margin-bottom: 20px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

footer {
    font-size: 14px;
}

footer h5 {
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

footer ul li a {
    color: #666;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #000;
    text-decoration: none;
}

footer .list-inline-item:not(:last-child) {
    margin-right: 10px;
}

footer .list-inline-item a {
    color: #666;
    font-size: 20px;
    transition: color 0.3s;
}

footer .list-inline-item a:hover {
    color: #000;
}