{% extends 'base.html.twig' %}

{% block title %}Hello FeedController!{% endblock %}

{% block body %}
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  {% for f in feeds %}
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{f.title}}</h5>
          <p class="card-text">{{f.description}}</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <div>
              <button class="btn btn-outline-primary btn-sm"><i class="far fa-heart"></i> {{f.liked}}</button>
              <button class="btn btn-outline-primary btn-sm"><i class="far fa-comment"></i> Commenter</button>
            </div>
            <button class="btn btn-outline-primary btn-sm"><i class="far fa-share-square"></i> {{f.shared}}</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- Autres cartes ici -->
  </div>
</div>
{% endblock %}
