{% if app.user %}
<nav class="navbar navbar-expand-lg border border-secondary shadow p-2 mb-5 bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Jase</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{{path('app_feed')}}">Home</a>
                <a class="nav-link" href="{{path('app_profil')}}">Mon profil</a>
                <a class="nav-link" href="#contactForm">Contact</a>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn text-dark "  style="background-color: #a0e66a; border: 1px solid black;" type="submit">Search</button>
            </form>
            <div class="navbar-nav">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    </div>
</nav>
{% endif %}