{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-header messagePage text-white">
                    <h5 class="mb-0">Messagerie</h5>
                </div>
                <div class="card-body p-4">
                    <ul class="list-group list-group-flush overflow-auto" style="max-height: 400px;">
                        {% for contact in app.user.followers %}
                            <a href="{{ path('app_messages_between', {id: contact.follower.id}) }}" class="text-decoration-none">
                                <li class="list-group-item d-flex align-items-center">
                                     <img src="{{ vich_uploader_asset(contact.follower, 'imageFile') }}" class="rounded-circle me-3" alt="Avatar" style="width:40px; height: 40px;">
                                    <div>
                                        <strong>{{ contact.follower.firstName }} {{ contact.follower.lastName }}</strong>
                                    </div>
                                </li>
                            </a>
                        {% else %}
                            <li class="list-group-item text-center">Aucun contact</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
